@{
    ViewData["Title"] = "Home Feed";
}

<h1>Welcome to BirFikrimVar 🚀</h1>
<p>This will be the main feed with all ideas.</p>

<a class="btn btn-primary" asp-controller="Users" asp-action="Index">See All Users</a>
