@if (isLoggedIn)
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Ideas" asp-action="Create">Post Idea</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Users" asp-action="Profile">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Users" asp-action="Index">All Users</a>
    </li>
}
